.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

/* input {
  padding: 20px 80px; 
  padding-left: 10px;
}
button {
  height: 25px;
  width: 80px
}

body {
  background-color: silver
} */