/* .App {
  margin-left: 500px;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}
.center{ 
  Display: flex;
  Align-Items: center;
  Justify-Content: centre;
  }


